# INSAID Telecom

## Project Description

It's always wonderful to see services customized to your needs.
Businesses try to understand your behavior and adjust their offerings
so as to ensure you feel attached to their services.


InsaidTelecom, one of the leading telecom players, understands that customizing offering
is very important for its business to stay competitive.
Currently, InsaidTelecom is seeking to leverage behavioral data from more than 60% of the 50 million mobile devices active daily in India
to help its clients better understand and interact with their audiences.

In this consulting assignment, Insaidians are expected to build a dashboard to understand
user's demographic characteristics based on their mobile usage, geolocation, and mobile device properties.
Doing so will help millions of developers and brand advertisers around the world pursue
data-driven marketing efforts which are relevant to their users and catered to their preferences.

## Consulting Goals

To help the customer the consultants are expected to have depth of clarity in the underlying data.
How much effort has been put into cleansing and purifying the data will decide how closely have you looked at the data.
How detailed is the observation stated in the submission report and finally how well a group presents their consulting journey.

Please remember this is an analytics consulting hence, your efforts in terms of
finding user behavior is going to directly impact the company's offerings.
Do help the company understand what is the
right way forward and suggest actionable insights from marketing and product terms.

## Data Description

In this assignment, you are going to study the demographics of a user (gender and age) based on their app download and usage behaviors.
The Data is collected from mobile apps that use InsaidTelecom services. Full recognition and consent from individual user of those apps have been obtained,
and appropriate anonymization have been performed to protect privacy. Due to confidentiality, we won't provide details on how the gender and age data was obtained.
Please treat them as accurate ground truth for prediction. The data schema can be represented in the following table:


gender_age_train - Devices and their respective user gender, age and age_group

phone_brand_device_model - device ids, brand, and models phone_brand: note that few brands are in Chinese

Brand Name	Brand English Mapping
'华为'	'Huawei'
'小米'	'Xiaomi'
'三星'	'Samsung'
'vivo'	'vivo'
'OPPO'	'OPPO'
'魅族'	'Meizu'
'酷派'	'Coolpad'
'乐视'	'LeEco'
'联想 '	'Lenovo'
'HTC'	'HTC'
events_data - when a user uses mobile on INSAID Telecom network, the event gets logged in this data.
Each event has an event id, location (lat/long), and the event corresponds to frequency of mobile usage.
timestamp: when the user is using the mobile.

## Data Fetching from Database and storing in data frames

In [1]:
import mysql.connector

In [2]:
import pandas as pd

In [3]:
mydb = mysql.connector.connect(
  host="cpanel.insaid.co",
  user="student",
  password="student",
  database='Capstone1'  
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000002794AEED8B0>

In [4]:

# Creating the cursor to point each instance of the database

my_cursor = mydb.cursor()

In [5]:
# Fetching all the data from gender_age_train table using cursor object

my_cursor.execute('select * from gender_age_train')

###  Loading  gender_age_train data

In [6]:
# Store the data available in cursor object in gender_age_train variable

gender_age_train = my_cursor.fetchall()

In [7]:
# Converting gender_age_train variable into a Dataframe

gender_age_train = pd.DataFrame(gender_age_train)

In [8]:
gender_age_train.rename(columns={gender_age_train.columns[0]:'Devices',gender_age_train.columns[1]:'Gender',gender_age_train.columns[2]:'Age',gender_age_train.columns[3]:'AgeGroup'},inplace=True)

###  Loading  phone_brand_device_model data

In [9]:

# Fetching all the data from phone_brand_device_model table using cursor object

my_cursor.execute('select * from phone_brand_device_model')

In [10]:
# Store the data available in cursor object in phone_brand_device_model variable

phone_brand_device_model = my_cursor.fetchall()

In [11]:
# Converting phone_brand_device_model variable into a Dataframe

phone_brand_device_model = pd.DataFrame(phone_brand_device_model)

In [12]:
phone_brand_device_model.rename(columns={phone_brand_device_model.columns[0]:'Devices',phone_brand_device_model.columns[1]:'Brand',phone_brand_device_model.columns[2]:'Model'},inplace=True)

In [13]:
phone_brand_device_model.Brand.unique()

array(['vivo', '小米', 'OPPO', '三星', '酷派', '联想 ', '华为', '奇酷', '魅族', '斐讯',
       '中国移动', 'HTC', '天语', '至尊宝', 'LG', '欧博信', '优米', 'ZUK', '努比亚', '惠普',
       '尼比鲁', '美图', '乡米', '摩托罗拉', '梦米', '锤子', '富可视', '乐视', '海信', '百立丰',
       '一加', '语信', '海尔', '酷比', '纽曼', '波导', '朵唯', '聆韵', 'TCL', '酷珀', '爱派尔',
       'LOGO', '青葱', '果米', '华硕', '昂达', '艾优尼', '康佳', '优购', '邦华', '赛博宇华',
       '黑米', 'Lovme', '先锋', 'E派', '神舟', '诺基亚', '普耐尔', '糖葫芦', '亿通', '欧新',
       '米奇', '酷比魔方', '蓝魔', '小杨树', '贝尔丰', '糯米', '米歌', 'E人E本', '西米', '大Q',
       '台电', '飞利浦', '唯米', '大显', '长虹', '维图', '青橙', '本为', '虾米', '夏新', '帷幄',
       '百加', 'SUGAR', '欧奇', '世纪星', '智镁', '欧比', '基伍', '飞秒', '德赛', '易派',
       '谷歌', '金星数码', '广信', '诺亚信', 'MIL', '白米', '大可乐', '宝捷讯', '优语', '首云',
       '瑞米', '瑞高', '沃普丰', '摩乐', '鲜米', '凯利通', '唯比', '欧沃', '丰米', '恒宇丰',
       '奥克斯', '西门子', '欧乐迪', 'PPTV'], dtype=object)

In [14]:
from google_trans_new import google_translator

In [15]:
translator=google_translator()

In [16]:
def fx(x):
    return translator.translate(x,lang_tgt='en')

In [17]:
def gx(x):
    if x=='vivo':
        return 'Vivo'
    elif x=='小米':
        return 'Millet'
    elif x=='三星':
        return 'Samsung'
    elif x=='OPPO':
        return 'OPPO'
    elif x=='酷派':
        return 'Cool'
    elif x=='联想':
        return 'Association'
    elif x=='华为':
        return 'Huawei'
    elif x=='奇酷':
        return 'Cage'
    elif x=='魅族':
        return 'Charming'
    elif x=='斐讯':
        return 'Film'
    elif x=='中国移动':
        return 'China Mobile'
    elif x=='HTC':
        return 'HTC'
    elif x=='天语':
        return 'Amagatarai'
    elif x=='至尊宝':
        return 'Honored'
    elif x=='LG':
        return 'LG'
    elif x=='欧博信':
        return 'Osoxin'
    elif x=='优米':
        return 'Quality rice'
    elif x=='ZUK':
        return 'ZUK'
    elif x=='努比亚':
        return 'Nubia'
    elif x=='惠普':
        return 'HP'
    elif x=='尼比鲁':
        return 'Nipro'
    elif x=='美图':
        return 'Beautiful map'
    elif x=='乡米':
        return 'Rural rice'
    elif x=='摩托罗拉':
        return 'Motorola'
    elif x=='梦米':
        return 'Messenger'
    elif x=='锤子':
        return 'hammer'
    elif x=='富可视':
        return 'Rich view'
    elif x=='乐视':
        return 'Music'
    elif x=='海信':
        return 'Hisense'
    elif x=='百立丰':
        return 'Bailun'
    elif x=='一加':
        return 'Plus'
    elif x=='语信':
        return 'Circularity'
    elif x=='海尔':
        return 'Haier'
    elif x=='酷比':
        return 'Cool than'
    elif x=='纽曼':
        return 'Newman'
    elif x=='波导':
        return 'waveguide'
    elif x=='朵唯':
        return 'Only'
    elif x=='聆韵':
        return 'Hear rhyme'
    elif x=='TCL':
        return 'TCL'
    elif x=='酷珀':
        return 'Severe'
    elif x=='爱派尔':
        return 'Ai Pike'
    elif x=='LOGO':
        return 'LOGO'
    elif x=='青葱':
        return 'Shallot'
    elif x=='果米':
        return 'Fruit rice'
    elif x=='华硕':
        return 'ASUS'
    elif x=='昂达':
        return 'Onda'
    elif x=='艾优尼':
        return 'Aiyini'
    elif x=='康佳':
        return 'Konka'
    elif x=='优购':
        return 'Best purchase'
    elif x=='邦华':
        return 'Banghua'
    elif x=='赛博宇华':
        return 'Sai Bo Yuhua'
    elif x=='黑米':
        return 'black rice'
    elif x=='Lovme':
        return 'Lovme'
    elif x=='先锋':
        return 'pioneer'
    elif x=='E派':
        return 'E-send'
    elif x=='神舟':
        return 'Shenzhou'
    elif x=='诺基亚':
        return 'Nokia'
    elif x=='普耐尔':
        return 'Poire'
    elif x=='糖葫芦':
        return 'Sugar'
    elif x=='亿通':
        return 'Vanity'
    elif x=='欧新':
        return 'European new'
    elif x=='米奇':
        return 'Mickey'
    elif x=='酷比魔方':
        return 'Cool than Rubik'
    elif x=='蓝魔':
        return 'Blue demon'
    elif x=='小杨树':
        return 'Small poplar'
    elif x=='贝尔丰':
        return 'Bell Feng'
    elif x=='糯米':
        return 'Glutinous rice'
    elif x=='米歌':
        return 'Mi song'
    elif x=='E人E本':
        return 'E people e'
    elif x=='西米':
        return 'Simi'
    elif x=='大Q':
        return 'Big Q'
    elif x=='台电':
        return 'Platform'
    elif x=='飞利浦':
        return 'Philips'
    elif x=='唯米':
        return 'Mi'
    elif x=='大显':
        return 'Large display'
    elif x=='长虹':
        return 'Changhong'
    elif x=='维图':
        return 'Dimension'
    elif x=='青橙':
        return 'Orange'
    elif x=='本为':
        return 'This is'
    elif x=='虾米':
        return 'Shrimp'
    elif x=='夏新':
        return 'Summer new'
    elif x=='帷幄':
        return 'Curtain'
    elif x=='百加':
        return 'Plus'
    elif x=='SUGAR':
        return 'SUGAR'
    elif x=='欧奇':
        return 'Ouqi'
    elif x=='世纪星':
        return 'Century star'
    elif x=='智镁':
        return 'Smart'
    elif x=='欧比':
        return 'Europa'
    elif x=='基伍':
        return 'Base'
    elif x=='飞秒':
        return 'Femtosecond'
    elif x=='德赛':
        return 'German'
    elif x=='易派':
        return 'Easy to send'
    elif x=='谷歌':
        return 'Google'
    elif x=='金星数码':
        return 'Venus Digital'
    elif x=='广信':
        return 'Widely believed'
    elif x=='诺亚信':
        return 'Noah'
    elif x=='MIL':
        return 'ONE THOUSAND'
    elif x=='白米':
        return 'White rice'
    elif x=='大可乐':
        return 'Cola'
    elif x=='宝捷讯':
        return 'Baojiexun'
    elif x=='优语':
        return 'Pros'
    elif x=='首云':
        return 'First cloud'
    elif x=='瑞米':
        return 'Rice'
    elif x=='瑞高':
        return 'Rui'
    elif x=='沃普丰':
        return 'Wormfront'
    elif x=='摩乐':
        return 'Music'
    elif x=='鲜米':
        return 'Fresh rice'
    elif x=='凯利通':
        return 'Kelly'
    elif x=='唯比':
        return 'Only one'
    elif x=='欧沃':
        return 'Ouvo'
    elif x=='丰米':
        return 'Rich rice'
    elif x=='恒宇丰':
        return 'Hengyufeng'
    elif x=='奥克斯':
        return 'Ox'
    elif x=='西门子':
        return 'Siemens'
    elif x=='欧乐迪':
        return 'Oeri'
    elif x=='PPTV':
        return 'PPTV'
    else: 
        return x

In [18]:
phone_brand_device_model['BrandEng']=phone_brand_device_model.Brand.apply(gx)

###  Loading events data

In [19]:
events_data = pd.read_csv('events_data.csv')

In [20]:
events_data.rename(columns={'event_id':'Event_ID','device_id':'Device_ID','timestamp':'Timestamp','longitude':'Longitude','latitude':'Latitude','city':'City','state':'State'},inplace=True)

###  Filtering Delhi events data

In [21]:
delhi_events_data=events_data[events_data.State=='Delhi']

# The Four Dataframes are:

### 1. events_data
### 2. delhi_events_data
### 3. gender_age_train
### 4. phone_brand_device_model

In [22]:
events_data.head()

,Event_ID,Device_ID,Timestamp,Longitude,Latitude,City,State
0,2765368,2.973348e+18,2016-05-07 22:52:05,77.225676,28.730140,Delhi,Delhi
1,2955066,4.734221e+18,2016-05-01 20:44:16,88.388361,22.660325,Calcutta,WestBengal
2,605968,-3.264500e+18,2016-05-02 14:23:04,77.256809,28.757906,Delhi,Delhi
3,448114,5.731369e+18,2016-05-03 13:21:16,80.343613,13.153332,Chennai,TamilNadu
4,665740,3.388880e+17,2016-05-06 03:51:05,85.997745,23.842609,Bokaro,Jharkhand

In [23]:
events_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3252950 entries, 0 to 3252949
Data columns (total 7 columns):
 #   Column     Dtype
---  ------     -----
 0   Event_ID   int64
 1   Device_ID  float64
 2   Timestamp  object
 3   Longitude  float64
 4   Latitude   float64
 5   City       object
 6   State      object
dtypes: float64(3), int64(1), object(3)
memory usage: 173.7+ MB

In [24]:
delhi_events_data.head()

,Event_ID,Device_ID,Timestamp,Longitude,Latitude,City,State
0,2765368,2.973348e+18,2016-05-07 22:52:05,77.225676,28.730140,Delhi,Delhi
2,605968,-3.264500e+18,2016-05-02 14:23:04,77.256809,28.757906,Delhi,Delhi
8,2309828,3.020769e+18,2016-05-04 09:24:50,77.263922,28.757914,Delhi,Delhi
13,2633127,-3.090167e+18,2016-05-05 04:42:59,77.285920,28.758381,Delhi,Delhi
17,2224400,7.566051e+18,2016-05-01 00:07:47,77.240478,28.715664,Delhi,Delhi

In [25]:
delhi_events_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 751733 entries, 0 to 3252947
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Event_ID   751733 non-null  int64
 1   Device_ID  751664 non-null  float64
 2   Timestamp  751733 non-null  object
 3   Longitude  751670 non-null  float64
 4   Latitude   751670 non-null  float64
 5   City       751733 non-null  object
 6   State      751733 non-null  object
dtypes: float64(3), int64(1), object(3)
memory usage: 45.9+ MB

In [26]:
delhi_events_data.City.value_counts()

Delhi                 744212
BhalswaJahangirpur      1083
SultanpurMajra          1030
Deoli                   1022
DilliCantonment          930
Gokalpur                 927
Tigri                    832
RoshanPura               805
NangloiJat               523
NiDilli                  369
Name: City, dtype: int64

In [27]:
gender_age_train.head()

               Devices Gender  Age AgeGroup
0 -8076087639492063270      M   35   M32-38
1 -2897161552818060146      M   35   M32-38
2 -8260683887967679142      M   35   M32-38
3 -4938849341048082022      M   30   M29-31
4   245133531816851882      M   30   M29-31

In [28]:
gender_age_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74645 entries, 0 to 74644
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Devices   74645 non-null  int64
 1   Gender    74645 non-null  object
 2   Age       74645 non-null  int64
 3   AgeGroup  74645 non-null  object
dtypes: int64(2), object(2)
memory usage: 2.3+ MB

In [29]:
phone_brand_device_model.head()

               Devices Brand    Model BrandEng
0  1877775838486905855  vivo      Y13     Vivo
1 -3766087376657242966    小米     V183   Millet
2 -6238937574958215831  OPPO      R7s     OPPO
3  8973197758510677470    三星    A368t  Samsung
4 -2015528097870762664    小米  红米Note2   Millet

In [30]:
phone_brand_device_model.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87726 entries, 0 to 87725
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Devices   87726 non-null  int64
 1   Brand     87726 non-null  object
 2   Model     87726 non-null  object
 3   BrandEng  87726 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.7+ MB

In [31]:
phone_brand_device_model.BrandEng.unique()

array(['Vivo', 'Millet', 'OPPO', 'Samsung', 'Cool', '联想 ', 'Huawei',
       'Cage', 'Charming', 'Film', 'China Mobile', 'HTC', 'Amagatarai',
       'Honored', 'LG', 'Osoxin', 'Quality rice', 'ZUK', 'Nubia', 'HP',
       'Nipro', 'Beautiful map', 'Rural rice', 'Motorola', 'Messenger',
       'hammer', 'Rich view', 'Music', 'Hisense', 'Bailun', 'Plus',
       'Circularity', 'Haier', 'Cool than', 'Newman', 'waveguide', 'Only',
       'Hear rhyme', 'TCL', 'Severe', 'Ai Pike', 'LOGO', 'Shallot',
       'Fruit rice', 'ASUS', 'Onda', 'Aiyini', 'Konka', 'Best purchase',
       'Banghua', 'Sai Bo Yuhua', 'black rice', 'Lovme', 'pioneer',
       'E-send', 'Shenzhou', 'Nokia', 'Poire', 'Sugar', 'Vanity',
       'European new', 'Mickey', 'Cool than Rubik', 'Blue demon',
       'Small poplar', 'Bell Feng', 'Glutinous rice', 'Mi song',
       'E people e', 'Simi', 'Big Q', 'Platform', 'Philips', 'Mi',
       'Large display', 'Changhong', 'Dimension', 'Orange', 'This is',
       'Shrimp', 'Summer new', 'Curtain', 'SUGAR', 'Ouqi', 'Century star',
       'Smart', 'Europa', 'Base', 'Femtosecond', 'German', 'Easy to send',
       'Google', 'Venus Digital', 'Widely believed', 'Noah',
       'ONE THOUSAND', 'White rice', 'Cola', 'Baojiexun', 'Pros',
       'First cloud', 'Rice', 'Rui', 'Wormfront', 'Fresh rice', 'Kelly',
       'Only one', 'Ouvo', 'Rich rice', 'Hengyufeng', 'Ox', 'Siemens',
       'Oeri', 'PPTV'], dtype=object)

In [32]:
df_merge= pd.merge(phone_brand_device_model, gender_age_train, on='Devices')

In [33]:
df_merge.head()

               Devices  Brand      Model BrandEng Gender  Age AgeGroup
0 -4938849341048082022     三星  Galaxy S4  Samsung      M   30   M29-31
1   245133531816851882  SUGAR       时尚手机    SUGAR      M   30   M29-31
2 -8098239495777311881     小米      MI 2S   Millet      M   38   M32-38
3   176515041953473526     华为      G610S   Huawei      M   33   M32-38
4  6352067998666467520     三星  Galaxy S3  Samsung      M   32   M32-38

In [34]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74617 entries, 0 to 74616
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Devices   74617 non-null  int64
 1   Brand     74617 non-null  object
 2   Model     74617 non-null  object
 3   BrandEng  74617 non-null  object
 4   Gender    74617 non-null  object
 5   Age       74617 non-null  int64
 6   AgeGroup  74617 non-null  object
dtypes: int64(2), object(5)
memory usage: 4.6+ MB

In [35]:
df_merge.Gender.value_counts()

M    47884
F    26733
Name: Gender, dtype: int64

In [36]:
df_merge.AgeGroup.value_counts()

M23-26    9598
M32-38    9473
M39+      8578
M22-      7485
M29-31    7308
F33-42    5558
M27-28    5442
F23-      5049
F29-32    4626
F43+      4194
F24-26    4189
F27-28    3117
Name: AgeGroup, dtype: int64

In [180]:
df_merge.Age.value_counts()

26    4536
27    4473
29    4341
28    4086
25    3736
30    3729
24    3501
23    3115
22    3016
31    2996
21    2994
32    2640
34    2586
33    2480
20    2349
35    2014
37    1620
19    1611
36    1601
38    1356
39    1247
40    1168
42    1029
41    1026
43     989
46     937
44     922
45     866
18     757
47     665
48     654
50     461
49     458
53     449
51     416
17     401
52     381
54     358
56     213
60     190
62     186
59     173
61     172
16     162
63     161
55     160
58     142
57     142
64     120
66      88
68      85
65      77
67      73
15      65
69      61
71      46
72      36
14      35
70      30
74      27
76      26
75      23
73      18
13      15
80      14
12      14
77      13
79      13
78      13
83      11
81      10
88       5
10       5
11       4
86       4
6        4
85       3
89       3
87       3
84       2
82       2
90       1
96       1
1        1
94       1
Name: Age, dtype: int64